{% extends "base.html" %}

{% block title %}FutureFrac - Stuart Bladon{% endblock %}

{% block content %}
<div class="content-container">
    <h2>Predicting fractures before they happen?</h2>
    <p>This project was my first idea for utilizing machine learning. As a result, it's very close to my heart. The idea is simple: stress fractures in racehorses are devastating and usually result in the horse being euthanized. Not only is this extremely sad, but it’s also financially disastrous, as these horses can be worth millions. Since these fractures are an accumulation of mechanical stress, the theory is that this may be visible in X-ray data before the full fracture occurs.</p>
    <p>This project doesn't have a single line of code attached to it yet. All efforts have been directed towards data collection. Stress fractures occur around 1.1 times per 100 horse months. You can see why this means collecting enough data is a challenge. This project has been really valuable to me so far in just learning data collection protocols. Hopefully, one day soon we will be able to predict stress fractures before they are fatal.</p>
</div>
{% endblock %}