{% extends "base.html" %}

{% block title %}Depth of Anaesthesia - Stuart Bladon{% endblock %}

{% block content %}
<div class="content-container">
    <h2>Using deep learning to predict depth of anaesthesia using EEG</h2>
    <p>This was a project I undertook in collaboration with KBOsystems. Working with real-world sensor data showed me just how difficult machine learning can be when the data isn't clean. Liaising with the hardware team helped me understand different stages of the process and all the various places it can go wrong.</p>
    <p>This project created a cheaper and more robust way to measure depth of anaesthesia. Although I no longer work on the project as it pivoted away from machine learning, you can learn more about it <a href="https://kbosystems.com" target="_blank">here</a>.</p>
</div>
{% endblock %}